<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
    <div class="first">
    <h1>About Us</h1>
    <img src="images/aboutus1.png" alt="a piture with AI forecasts just for pic lol I get it from google lmao.">
    <p>
        Welcome to AMS Forecasts, where we harness the power of advanced technology and data science to provide accurate and reliable weather predictions. Our mission is to help individuals, businesses, and organizations make informed decisions by providing timely, precise, and easy-to-understand weather forecasts.
    </p>
    </div>
    <!-- Our Values Section -->
    <div class="values">
        <h2>Our Values</h2>
        <p>
            Quality, freshness, and customer satisfaction are at the heart of everything we do. 
            We believe in creating food that not only tastes amazing but also brings people together.
        </p>
    </div>

    <!-- Our Team Section -->
    <div class="team-section">
        <h2>Meet Our Team</h2>
        <div class="team-members">
            <div class="team-member">
                <img src="{% static 'images/about1.jpg' %}" alt="Chef">
                <h3>Deniss Leywin</h3>
                <p>Head Chef</p>
            </div>
            <div class="team-member">
                <img src="{% static 'images/about2.jpg' %}" alt="Manager">
                <h3>Tessia eralith</h3>
                <p>Restaurant Manager</p>
            </div>
            <div class="team-member">
                <img src="{% static 'images/about3.jpg' %}" alt="Staff">
                <h3>Lylia Helstea</h3>
                <p>Customer Care Specialist</p>
            </div>
            <div class="team-member">
                <img src="{% static 'images/about4.jpg' %}" alt="Staff">
                <h3>Cecilia</h3>
                <p>Customer Care Specialist</p>
            </div>
            <div class="team-member">
                <img src="{% static 'images/about8.jpg' %}" alt="Staff">
                <h3>Clair</h3>
                <p>Customer Care Specialist</p>
            </div>
        </div>
    </div>
</body>
</html>