<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
    <div class="first">
    <h1>About Us</h1>
    <img src="images/aboutus1.png" alt="a piture with AI forecasts just for pic lol I get it from google lmao.">
    <p>
        Welcome to AMS Forecasts, where we harness the power of advanced technology and data science to provide accurate and reliable weather predictions. Our mission is to help individuals, businesses, and organizations make informed decisions by providing timely, precise, and easy-to-understand weather forecasts.
    </p>
    
    </div>
</body>
</html>